.all {
  background-image: url(../assets/images/restaurante.jpg);
  background-size: cover;
  background-position: center center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.all::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
}

.logo {
  width: 400px;
  height: 128px;
  margin-top: 50px;
}

.container_img{
    z-index: 1;
}

.container_nav {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  z-index: 1;
}

.nav {
  
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  font-family: 'serifada';
  font-size: 2.5rem;

}

.option{
    color: rgb(199, 199, 199);
    position: relative;
    cursor: pointer;
    filter: blur(0);

    transition: all .5s;
}


.option:hover{
    color: white;
    filter: blur(1.5px);
    font-size: 5.5rem;
}

